* {
    touch-action: pan-y;
    touch-action: none;
}

// 轮播图
.swiper {
    position: relative;
    height: 212px;
}

// 菜单样式
.nav {
    padding: 0;
    text-align: center;

    img {
        height: 48px;
    }

    h2 {
        margin-top: 7px;
        font-size: 13px;
    }

}